.selctionMenu {
   height: 8%;
   margin-bottom: 80px;
}

.itemsMenu {
   flex-grow: 1;
}

.cardBox {
   height: 450px;
   border: 4px solid black;
}

.textSize {
   font-size: 110px;
}

.picture1:hover {
   background: rgba(0, 0, 0, 0.6);
}

.addonSpace {
   width: 100%;
   height: 60px;
}

.popUpMenu {
   height: 350px;
   margin-bottom: 110px;
   font-size: 50px;
   display: none;
   flex-direction: column;
   gap: 15px;
   animation: popupanimation;
   animation-duration: 1.5s;
   animation-fill-mode: forwards;
}

.popUpMenu2 {
   height: 350px;
   margin-bottom: 110px;
   font-size: 50px;
   display: none;
   flex-direction: column;
   gap: 15px;
   animation: popupanimation;
   animation-duration: 1.5s;
   animation-fill-mode: forwards;
}

.popUpInner {
   width: 90%;
   padding: 0px 0px 10px 25px;
   margin-top: 20px;
   border-top-right-radius: 25px;
   border-bottom-right-radius: 25px;
}

.location {
   height: 1500px;
}

.box-round1 {
   border-top-left-radius: 40px;
   border-bottom-left-radius: 40px;
   box-sizing: border-box;
   color: white;
}

.box-round2 {
   border-top-right-radius: 40px;
   border-bottom-right-radius: 40px;
   box-sizing: border-box;
   color: white;
}

.borderMap {
   border: 7px solid white;
}

.contact {
   height: 1000px;
}

.infoBox {
   height: 50%;
   box-sizing: border-box;
   border-radius: 25px;
}

.animationLoad {
   opacity: 1;
   transition: opacity 1s ease-in-out;
}

.LoadHide {
   opacity: 0;
}

#aboutBox {
   height: 300px;
   width: 100%;
}

#picBox {
   height: 300px;
   width: 100%;
}

#aboutText {
   height: 1700px;
   width: 100%;
}

.textBox {
   height: 90%;
   width: 90%;
   border-radius: 25px;
   padding: 25px;
   box-sizing: border-box;
   font-size: 40px;
}

#picturesBox {
   height: 1000px;
   width: 100%;
}

.container1 {
   padding: 2rem;
   width: 100%;
}

.slider-wrapper {
   position: relative;
   max-width: 100%;
   margin: 0 auto;
}

.slider {
   display: flex;
   width: 100%;
   height: 1000px;
   overflow-x: hidden;
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
   box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
   border-radius: 0.5rem;
   border: 4px solid black;
}

.slider img {
   flex: 1 0 100%;
   object-fit: cover;
}

.slider-nav {
   display: flex;
   column-gap: 1rem;
   position: absolute;
   bottom: 1.25rem;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1;
}



.slider-nav a:hover {
   opacity: 1;
}

#igLinkBox {
   height: 400px;
}

.MainDishes {
   height: 800px;
   margin-bottom: 80px;
}

.SaladDishes {
   height: 500px;
   margin-bottom: 80px;
}

.HambDishes {
   height: 600px;
   margin-bottom: 80px;
}

.DessertDishes {
   height: 500px;
   margin-bottom: 80px;
}

.nonAlc {
   height: 400px;
   margin-bottom: 30px;
}

.fill-lines {
   text-align: justify;
   max-width: 920px; 
}

.fill-lines::after {
   content: '';
   display: inline-block;
   width: 100%;
}

ul.pa-dot-leaders {
   max-width: 32em;
   padding: 0;
   overflow-x: hidden;
   list-style: none;
   overflow-y: hidden;
}

ul.pa-dot-leaders li:before {
   float: left;
   width: 0;
   white-space: nowrap;
   content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}

ul.pa-dot-leaders span:first-child {
   padding-right: 0.33em;
   background: #ffedd5;
}

ul.pa-dot-leaders span + span {
   float: right;
   padding-left: 0.33em;
   background: #ffedd5;
}

.fillSpace {
   height: 100px;
}

@keyframes popupanimation {
   from {opacity: 0;}
   to {opacity: 1;}
}

@media (min-width: 1024px) {
   #root {
      flex-direction: row;
      height: 100%;
      justify-content: center;
      gap: 100px;
      overflow-y: scroll;
   }
   .addonSpace {
      display: none;
   }
   #selctionMenu {
      display: none;
   }
   #popUpMenu {
      display: flex;
      background-color: #fed7aa;
      height: 100%;
      font-size: 25px;
      width: 20%;
      text-align: end;
      justify-content: center;
      align-items: flex-end;
      position: fixed;
      left: 200px;
   }
   #popUpMenu2 {
      display: flex;
   }
   #itemsMenu {
      width: 40%;
      flex-grow: unset;
      height: 1800px;
   }
   .textSize {
      font-size: 70px;
   }
   #menuPage:hover {
      background-color: #fdba74;
   }
   #locationContact:hover {
      background-color: #fdba74;
   }
   #about:hover {
      background-color: #fdba74;
   }
   .popUpInner {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
   }
   #menuPage {
      padding-right: 12px;
      padding-top: 5px;
      margin-top: 0px;
   }
   #locationContact {
      padding-right: 12px;
      padding-top: 5px;
   }
   #about {
      padding-right: 12px;
      padding-top: 5px;
   }
   ::-webkit-scrollbar {
      width: 15px;
   }
   ::-webkit-scrollbar-track {
      background: #ffedd5;
      box-shadow: inset 0 0 5px grey;
      border-radius: 30px;
   }
   ::-webkit-scrollbar-thumb {
      background: #fdba74;
      border-radius: 30px;
    }
    #logoPic {
      height: 250px;
      width: 250px;
    }


    #root2 {
      align-items: center;
      flex-direction: row;
      justify-content: center;
    }
    #fullMenu {
      width: 50%;
    }
    
}